*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
.App{
    width: 80% !important;
    margin: 0 auto !important; 
}

.text-input input{
    outline: none !important;
}
.item-text{
    display: flex !important;
    flex-wrap: wrap !important;
    text-align: left !important;
    align-items: center !important;
    justify-content: start !important;
    border-right: 1px solid #999999 !important;
}
.item-container{
    width: 80% !important;
    margin: 0 auto !important; 
    border-bottom: 1px solid #999999 !important;
}
.btn-group {
    display: flex !important;
    position: relative !important;
    align-items: center !important;
    justify-content: flex-end !important;
}
.bg-danger{
    border: none !important;
    border-radius: 2px !important;
}